<app-subheader></app-subheader>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img width="150" height="150" src="https://img.icons8.com/ios-filled/100/user-male-circle.png" alt="user-male-circle"/><span class="font-weight-bold">Usuario</span>
            <span class="text-black-50">{{userEmail}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Configuración de Perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control" placeholder="nombre" value="" [(ngModel)]="nombre"></div>
                    <div class="col-md-6"><label class="labels">Apellidos</label><input type="text" class="form-control" value="" placeholder="apellidos" [(ngModel)]="apellidos"></div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <label class="labels">Teléfono móvil</label>
                    <input type="text" class="form-control" placeholder="Agrega número de teléfono" [(ngModel)]="telefono">
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Línea dirección 1</label>
                    <input type="text" class="form-control" placeholder="Agrega dirección 1" [(ngModel)]="direccion1">
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Línea dirección 2</label>
                    <input type="text" class="form-control" placeholder="Agrega dirección 2" [(ngModel)]="direccion2">
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Código postal</label>
                    <input type="text" class="form-control" placeholder="Agrega código postal" [(ngModel)]="codigoPostal">
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Estado</label>
                    <input type="text" class="form-control" placeholder="Agrega estado" [(ngModel)]="estado">
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Área</label>
                    <input type="text" class="form-control" placeholder="Agrega área" [(ngModel)]="area">
                  </div>
                  <div class="col-md-12">
                    <label class="labels">Email ID</label>
                    <input type="text" class="form-control" placeholder="Email ID" [(ngModel)]="emailId">
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <label class="labels">Ciudad</label>
                      <input type="text" class="form-control" placeholder="Ciudad" [(ngModel)]="ciudad">
                    </div>
                    <div class="col-md-6">
                      <label class="labels">Estado/Región</label>
                      <input type="text" class="form-control" placeholder="Estado/Región" [(ngModel)]="region">
                    </div>
                  </div>
                </div>

                <div class="mt-5 text-center">
                  <button class="btn btn-primary" (click)="guardar()" type="button">Guardar Perfil</button>
                  <span style="margin: 0 10px;"></span> <!-- Espacio horizontal -->
                  <button class="btn btn-danger reiniciar-btn" (click)="reiniciar()" type="button">Reiniciar Datos</button>
                </div>
                
                <div class="mt-4 text-center">
                  <a href="/home"><button class="btn btn-outline-primary btn-sm" type="button">Volver al inicio</button></a>
                </div>
                  <div class="mt-4 text-center">
              <button type="button" id="logout" (click)="onClick()" class="btn btn-outline-danger btn-sm">Cerrar sesión</button>
                  </div>
            </div>
        </div>
    </div>
</div>