<header>
    <div id="info">
      <div class="container d-flex justify-content-between">
        <div class="d-flex">
            <p class="text-light mb-0 p-2 fs-6">Internacional: envíos gratis a partir de 120 € | Península: envíos gratis a partir de 25 €</p>
        </div>
        <p id="leng" class="text-light mb-0 p-2 fs-6">
          <img width="30" height="30" src="https://img.icons8.com/color/30/spain-2.png" alt="spain-2"/>
          Español
        </p>
      </div>
    </div>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
      <div class="container">
  
        <a class="navbar-brand" href="/home" routerLinkActive="active">
          <img src="../../../assets/img/logo500x500.png" alt="imagen del logo" width="100px" height="auto">
        </a>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-3">
  
            <li class="nav-item dropdown position-static">
              <a class="nav-link dropdown-toggle" routerLink="/allproducts" routerLinkActive="active" href="/allproducts" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Productos
              </a>
  
              <!-- Dropdown menu -->
              <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown"
                style="border-top-left-radius: 0; border-top-right-radius: 0;">
                <div class="container">
                  <div class="row my-4">
                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                      <div class="list-group list-group-flush">
                        <a href="/creatine" class="list-group-item list-group-item-action"><strong>Creatina</strong></a>
                        <a href="/proteina" class="list-group-item list-group-item-action"><strong>Proteína</strong></a>
                        <a href="/aminoacidos" class="list-group-item list-group-item-action"><strong>Aminoácidos</strong></a>
                        <a href="/hidratos" class="list-group-item list-group-item-action"><strong>Hidratos de carbono</strong></a>
                        <a href="/preentrenos" class="list-group-item list-group-item-action"><strong>Preentrenos</strong></a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                      <div class="list-group list-group-flush">
                        <a href="/controldepeso" class="list-group-item list-group-item-action"><strong>Control de peso</strong></a>
                        <a href="/barritas" class="list-group-item list-group-item-action"><strong>Barritas</strong></a>
                        <a href="/vitaminasminerales" class="list-group-item list-group-item-action"><strong>Vitaminas y Minerales</strong></a>
                        <a href="/quemagrasas" class="list-group-item list-group-item-action"><strong>Quemagrasas</strong></a>
                        <a href="/intraentrenos" class="list-group-item list-group-item-action"><strong>Intraentrenos</strong></a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                      <div class="list-group list-group-flush">
                        <a href="" class="list-group-item list-group-item-action">
                          <a href="#"><img width="30" height="30" src="https://img.icons8.com/fluency/30/instagram-new.png" alt="instagram-new"/></a>
                          <a href="#"><img width="30" height="30" src="https://img.icons8.com/color/30/twitter--v1.png" alt="twitter--v1"/></a>
                          <a href="#"><img width="30" height="30" src="https://img.icons8.com/color/30/facebook.png" alt="facebook"/></a>
                          <a href="#"><img width="30" height="30" src="https://img.icons8.com/fluency/30/youtube-squared.png" alt="youtube-squared"/></a>
                          <a href="#"><img width="30" height="30" src="https://img.icons8.com/color/30/blogger.png" alt="blogger"/></a>
                        </a>
                        <img src="../../../assets/img/template.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
  
          <form class="d-flex align-items-center w-100 form-search">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="Buscar en el catálogo..." aria-label="Search"/>
              <span class="input-group-text">
                <a href="/checkout"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png" alt="search--v1"/></a>
              </span>
            </div>
          </form>
  
          <ul class="navbar-nav ms-3">
            <li class="nav-item me-3">
              <a class="nav-link d-flex align-items-center" routerLink="/cart"><img width="30" height="30" src="https://img.icons8.com/ios-filled/30/shopping-basket--v1.png" alt="shopping-basket--v1"/></a>
            </li>
            <li class="nav-item" style="width: 65px;">
              <a class="nav-link d-flex align-items-center">
                <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/user.png" alt="user"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
    <!-- Carousel wrapper -->
    <hr>
  </header>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img width="150" height="150" src="https://img.icons8.com/ios-filled/100/user-male-circle.png" alt="user-male-circle"/><span class="font-weight-bold">Usuario</span><span class="text-black-50">correo usuario</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Configuración de Perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control" placeholder="nombre" value=""></div>
                    <div class="col-md-6"><label class="labels">Apellidos</label><input type="text" class="form-control" value="" placeholder="apellidos"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Teléfono movil</label><input type="text" class="form-control" placeholder="agrega número de teléfono" value=""></div>
                    <div class="col-md-12"><label class="labels">Linea dirección 1</label><input type="text" class="form-control" placeholder="agrega dirección 1" value=""></div>
                    <div class="col-md-12"><label class="labels">Linea dirección 2</label><input type="text" class="form-control" placeholder="agrega dirección 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Código postal</label><input type="text" class="form-control" placeholder="agrega código postal" value=""></div>
                    <div class="col-md-12"><label class="labels">Estado</label><input type="text" class="form-control" placeholder="agrega estado 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="agrega area 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="educacción" value=""></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Ciudad</label><input type="text" class="form-control" placeholder="ciudad" value=""></div>
                    <div class="col-md-6"><label class="labels">Estado/Región</label><input type="text" class="form-control" value="" placeholder="estado"></div>
                </div>

                <div class="mt-5 text-center">
                  <button class="btn btn-primary" type="button">Guardar Perfil</button>
                </div>
                  <div class="mt-5 text-center">
              <button type="button" id="logout" (click)="onClick()" class="btn btn-outline-danger btn-sm">Cerrar sesión</button>
                  </div>
            </div>
        </div>
    </div>
</div>