<div class="row" style="margin-left: 10px;">
    <div class="col-5 col-md-2">
           <div class="card-body">
               <h3 class="h5 card-title" style="margin-bottom: -25px;">Categorias de productos</h3><br><hr>
               <div class="row">
                   <div class="col-12">
                       <div class="form-check mb-1">
                               <a href="/allproducts"> Todos los productos </a> 
                       </div>
                   </div>
                   <div class="col-12">
                       <div class="form-check mb-1">
                               <a href="/creatine"> Creatine </a>
                       </div>
                   </div>
                   <div class="col-12">
                       <div class="form-check mb-1">
                               <a href="/proteina">Proteina</a> 
                       </div>
                   </div>
                   <div class="col-12">
                       <div class="form-check mb-1">
                               <a href="/aminoacidos">Aminoácidos</a> 
                       </div>
                   </div>
                   <div class="col-12">
                       <div class="form-check mb-1">
                               <a href="/hidratos"> Hidratos </a>
                       </div>
                   </div>
                   <div class="col-12">
                    <div class="form-check mb-1">
                            <a href="/preentrenos">Pre-entrenos</a> 
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check mb-1">
                            <a href="/controldepeso">Control de peso</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check mb-1">
                            <a href="/barritas">Barritas</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check mb-1">
                            <a href="/vitaminasminerales">Vitaminas y minerales</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check mb-1">
                            <a href="/quemagrasas">Quemagrasas</a> 
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check mb-1">
                            <a href="/intraentrenos">Intraentrenos</a>
                    </div>
                </div>
                <a href="/allproducts" id="botonreset" class="button-reset">Restablecer</a>
               </div>
           </div>
   </div>
   
   @for (product of products; track $index) {
    <div class="col-6 col-md-3" style=" margin-left: 1px; margin-bottom: 50px;">
        <div class="card shadow">
            <img src={{product.photo}} (click)="navigateToProduct(product.id)" alt="imagen producto" style="cursor:pointer"> 
            <div class="card-footer border-top border-gray-300 p-2">
                <a class="h6" (click)="navigateToProduct(product.id)" style="cursor:pointer">{{product.title}}</a>
                <h6 class="h6 fw-light text-gray mt-1" (click)="navigateToProduct(product.id)" style="cursor:pointer">{{product.description}}</h6>
                <div class="d-flex mt-1">
                    <span><img width="15" height="15" src="https://img.icons8.com/emoji/20/star-emoji.png" alt="star-emoji"/></span> 
                    <span><img width="15" height="15" src="https://img.icons8.com/emoji/20/star-emoji.png" alt="star-emoji"/></span> 
                    <span><img width="15" height="15" src="https://img.icons8.com/emoji/20/star-emoji.png" alt="star-emoji"/></span> 
                    <span><img width="15" height="15" src="https://img.icons8.com/emoji/20/star-emoji.png" alt="star-emoji"/></span> 
                    <span><img width="15" height="15" src="https://img.icons8.com/emoji/20/star-emoji.png" alt="star-emoji"/></span> 
                    <span class="badge bg-primary ms-1">{{product.rating}}</span>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <span class="h6 mb-0 text-gray" style="margin-top: -20px;">{{product.price}}€</span> 
                    <a class="btn">
                        <a (click)="addToCart(product.id)"class="btn btn-success shadow-0" style="margin-top: -50px;">
                        <img  style="margin-top: -3px;" src="../../../assets/img/icons8-basket-20.png"/>
                    </a>
                    </a>
                </div>
            </div>
        </div> 
    </div>
}
</div>
