<!--Main Navigation-->

<header>
  <div id="info">
    <div class="container d-flex justify-content-between">
      <div class="d-flex">
          <p class="text-light mb-0 p-2 fs-6">Internacional: envíos gratis a partir de 120 € | Península: envíos gratis a partir de 25 €</p>
      </div>
      <p id="leng" class="text-light mb-0 p-2 fs-6">
        <img width="30" height="30" src="https://img.icons8.com/color/30/spain-2.png" alt="spain-2"/>
        Español
      </p>
    </div>
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">

      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">

        <img src="../../../assets/img/logo500x500.png" alt="imagen del logo" width="100px" height="auto">

        </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-3">

          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle" routerLink="/allproducts" routerLinkActive="active" href="/allproducts" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>

            <!-- Dropdown menu -->
            <div class="dropdown-menu w-100 mt-0" aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0;">
              <div class="container">
                <div class="row my-4">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <a href="/products" class="list-group-item list-group-item-action"><strong>Creatina</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Proteína</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Aminoácidos</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Hidratos de carbono</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Preentrenos</strong></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action"><strong>Control de peso</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Barritas</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Vitaminas y Minerales</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Quemagrasas</strong></a>
                      <a href="" class="list-group-item list-group-item-action"><strong>Intraentrenos</strong></a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">
                        <a href="#"><img width="30" height="30" src="https://img.icons8.com/fluency/30/instagram-new.png" alt="instagram-new"/></a>
                        <a href="#"><img width="30" height="30" src="https://img.icons8.com/color/30/twitter--v1.png" alt="twitter--v1"/></a>
                        <a href="#"><img width="30" height="30" src="https://img.icons8.com/color/30/facebook.png" alt="facebook"/></a>
                        <a href="#"><img width="30" height="30" src="https://img.icons8.com/fluency/30/youtube-squared.png" alt="youtube-squared"/></a>
                        <a href="#"><img width="30" height="30" src="https://img.icons8.com/color/30/blogger.png" alt="blogger"/></a>
                      </a>
                      <img src="../../../assets/img/template.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>

        <form class="d-flex align-items-center w-100 form-search">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Buscar en el catálogo..." aria-label="Search"/>
            <span class="input-group-text">
              <a href="#!"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png" alt="search--v1"/></a>
            </span>
          </div>
        </form>

        <ul class="navbar-nav ms-3">
          <li class="nav-item me-3">
            <a class="nav-link d-flex align-items-center" routerLink="/cart"><img width="30" height="30" src="https://img.icons8.com/ios-filled/30/shopping-basket--v1.png" alt="shopping-basket--v1"/></a>
          </li>
          <li class="nav-item" style="width: 65px;">
            <a routerLink="/login" routerLinkActive="active" class="nav-link d-flex align-items-center">
              <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/user.png" alt="user"/>
            </a>
          </li>
          <li class="nav-item" style="width: 65px; margin-top: 10px;">
            usuario <!-- Falta el token de firebase par que imprima el username -->
          </li>
          <li class="nav-item" style="width: 65px; margin-top: 8px;">
            <button type="button" id="logout" (click)="onClick()" class="btn btn-outline-danger btn-sm">Cerrar sesión</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Carousel wrapper -->
    <!-- Inner -->
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/slider1.png" class="d-block custom-carousel-img" alt="primera imagen del carrousel">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slider2.png" class="d-block custom-carousel-img" alt="segunda imagen del carrousel">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slider3.png" class="d-block custom-carousel-img" alt="tercera imagen del carrousel">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <!-- Carousel wrapper -->
</header>
