#info{
    background-color: grey;
   }
  #leng{
    justify-content: right;
  }
  
  .custom-carousel-img {
    max-width: 100%;
    height: auto;
  }

  #logout {
    white-space: nowrap; /* Evita el salto de línea en el texto del botón */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
    min-width: 120px; /* Establece un ancho mínimo para el botón */
  }
  
  
  