body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
  text-align: center;
}
p{
  text-align: center;
}

h4{
  text-align: center
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

strong{
  color: rgb(65, 64, 64);
}

.btn {
  padding: 10px 20px;
  color: white;
  margin-bottom: 10px;
  background-color: #282c54;
  text-align: center;
  align-self: center;
}




/* cards */

.card {
  border: none;
  margin-bottom: -1000px;
}
.card-img {
  border-radius: 0;
}

.vgr-cards {
  .card {
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-top: 70px;
    margin-bottom: 60px;

    &:nth-child(even) .card-img-body {
      order: 2;
    }

    &:nth-child(even) .card-body {
      padding-left: 0;
      padding-right: 1.25rem;
    }

  }

  .card-img-body {
    flex: 1;
    overflow: hidden;
    position: relative;
  }

  .card-img {
    border-radius: 0;
    width: auto;
    height: auto;
  }

  .card-body {
    flex: 2;
    padding: 0 0 0 1.25rem;
  }

  .card-title{
    margin-top: 100px;
    margin-bottom: -90px;
  }
  .card-text{
    margin-top: 100px;
  }

}
