<hr>
<div class="container">
  <div class="row">
    <div class="col-md">
      <img width="30" height="30" src="https://img.icons8.com/material-rounded/30/earth-planet--v2.png" alt="earth-planet--v2"/>      <h4>Enviamos a todo el mundo</h4>
      <p>Hacemos envíos a todo el mundo. Si quieres <strong>suplementos deportivos de calidad</strong> y los quieres en tu casa, haz tu pedido ahora mismo a través de la web. Envíos en 24 horas.</p>
    </div>
    <div class="col-md">
      <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/euro-pound-exchange.png" alt="euro-pound-exchange"/>      <h4>Calidad al mejor precio</h4>
      <p><strong>Somos fabricantes</strong>. El hecho de que no hay intermediarios hace que nuestros productos sean los mas baratos del mercado. Todo esto con una calidad garantizada por <strong>EliteWhey Nutrition</strong>.</p>
    </div>
    <div class="col-md">
      <img width="30" height="30" src="https://img.icons8.com/glyph-neue/30/security-shield-green.png" alt="security-shield-green"/>      <h4>Pago seguro</h4>
      <p>Pago seguro. Puedes pagar con <strong>tarjeta de crédito</strong> o <strong>débito</strong>, <strong>Bizum</strong> o
      <strong> transferencia/ingreso bancario</strong>. También puedes guardar tu tarjeta de crédito para futuras compras. De esta manera lo tendrás mas fácil para realizar el pedido.</p>
    </div>
  </div>
  <button class="btn" routerLink="/allproducts">Productos</button>
</div>

<!-- Cards -->

<div class="container">
  <div class="card-group vgr-cards">

    <div class="card">
      <div class="card-img-body">
      <img class="card-img" src="../../../assets/img/foto1card.jpg" alt="Card image cap">
      </div>

      <div class="card-body">
        <h4 class="card-title">¿Quiénes somos?</h4>
        <p class="card-text">EliteWhey Nutrition surgió de la colaboración entre ex atletas y expertos científicos del campo, con el firme propósito de lograr una eficacia del 100%. Estableciendo como condiciones no negociables la seguridad absoluta para la salud y la generación de confianza inquebrantable en los consumidores más exigentes.</p>
      </div>

    </div>

    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="../../../assets/img/foto2card.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">La importancia de la suplementación</h4>
        <p class="card-text">
          La suplementación nutricional ha adquirido una relevancia fundamental en el panorama de la salud y el rendimiento físico. En un mundo donde las demandas diarias y las presiones del estilo de vida a menudo pueden desafiar nuestra capacidad para obtener todos los nutrientes esenciales a través de la dieta sola, los suplementos se convierten en aliados cruciales para garantizar un equilibrio nutricional óptimo.</p>
      </div>

    </div>

    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="../../../assets/img/foto3card.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">¿Qué tipo de suplemento deportivo escoger?</h4>
        <p class="card-text">A la hora de adquirir suplementación deportiva, ya sea online, o visitando una tienda de suplementos deportivos, es necesario que la persona cuente con unos objetivos definidos y específicos para encontrar aquellos que mejor se adapten a sus gustos, la práctica deportiva que esté realizando y el estilo de vida.</p>
      </div>
    </div>

  </div>
</div>
